<a href="https://colab.research.google.com/github/vungods/Double-Top-and-Bottom/blob/master/House_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/house_price_prediction /home-data-for-ml-course/train.csv", index_col="Id")

In [ ]:
data.head()

# features selection

In [ ]:
data.columns

In [ ]:
features=["LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"]

# spliting the dataset

In [ ]:
X = data[features]
Y = data["SalePrice"]

In [ ]:
X

In [ ]:
Y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8, test_size=0.2, random_state=0)

# train

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=0)

In [ ]:
dt_model.fit(X_train, Y_train)

#test

In [ ]:
Y_pre= dt_model.predict(X_test)

In [ ]:
pd.DataFrame({'y': Y_test,"Y_pre":Y_pre})

           y     Y_pre
Id
530   200624  335000.0
492   133000  141500.0
460   110000  129000.0
280   192000  207500.0
656    88000  112000.0
...      ...       ...
327   324000  260400.0
441   555000  378500.0
1388  136000   90000.0
1324   82500   87000.0
62    101000   68400.0

[292 rows x 2 columns]

# model evaluation

In [ ]:
import matplotlib.pyplot as plt